policy_module(paprikacoin, 1.100.1)

########################################
#
# Declarations
#

type paprikacoin_t;
type paprikacoin_exec_t;
init_daemon_domain(paprikacoin_t, paprikacoin_exec_t)

permissive paprikacoin_t;

type paprikacoin_initrc_exec_t;
init_script_file(paprikacoin_initrc_exec_t)

type paprikacoin_conf_t;
files_type(paprikacoin_conf_t)

type paprikacoin_var_lib_t;
files_type(paprikacoin_var_lib_t)

type paprikacoin_var_run_t;
files_type(paprikacoin_var_run_t)

type paprikacoin_port_t;
corenet_port(paprikacoin_port_t)

########################################
#
# paprikacoin local policy
#
allow paprikacoin_t self:process { fork };

allow paprikacoin_t self:fifo_file rw_fifo_file_perms;
allow paprikacoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(paprikacoin_t, paprikacoin_conf_t, paprikacoin_conf_t)
manage_files_pattern(paprikacoin_t, paprikacoin_conf_t, paprikacoin_conf_t)

manage_dirs_pattern(paprikacoin_t, paprikacoin_var_lib_t, paprikacoin_var_lib_t)
manage_files_pattern(paprikacoin_t, paprikacoin_var_lib_t, paprikacoin_var_lib_t)
files_var_lib_filetrans(paprikacoin_t, paprikacoin_var_lib_t, { dir file })

manage_dirs_pattern(paprikacoin_t, paprikacoin_var_run_t, paprikacoin_var_run_t)
manage_files_pattern(paprikacoin_t, paprikacoin_var_run_t, paprikacoin_var_run_t)

sysnet_dns_name_resolve(paprikacoin_t)
corenet_all_recvfrom_unlabeled(paprikacoin_t)

allow paprikacoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(paprikacoin_t)
corenet_tcp_sendrecv_generic_node(paprikacoin_t)
corenet_tcp_sendrecv_all_ports(paprikacoin_t)
corenet_tcp_bind_generic_node(paprikacoin_t)

gen_require(`
    type paprikacoin_port_t;
')
allow paprikacoin_t paprikacoin_port_t:tcp_socket name_bind;

gen_require(`
    type paprikacoin_port_t;
')
allow paprikacoin_t paprikacoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(paprikacoin_t)

files_read_etc_files(paprikacoin_t)

miscfiles_read_localization(paprikacoin_t)

sysnet_dns_name_resolve(paprikacoin_t)

allow paprikacoin_t paprikacoin_exec_t:file execute_no_trans;
allow paprikacoin_t self:process setsched;
corecmd_exec_ls(paprikacoin_t)
corenet_tcp_connect_http_port(paprikacoin_t)
dev_read_urand(paprikacoin_t)
fs_getattr_xattr_fs(paprikacoin_t)
kernel_read_system_state(paprikacoin_t)
