
## <summary>policy for paprikacoin</summary>


########################################
## <summary>
##	Transition to paprikacoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`paprikacoin_domtrans',`
	gen_require(`
		type paprikacoin_t, paprikacoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, paprikacoin_exec_t, paprikacoin_t)
')


########################################
## <summary>
##	Execute paprikacoin server in the paprikacoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`paprikacoin_initrc_domtrans',`
	gen_require(`
		type paprikacoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, paprikacoin_initrc_exec_t)
')


########################################
## <summary>
##	Search paprikacoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`paprikacoin_search_lib',`
	gen_require(`
		type paprikacoin_var_lib_t;
	')

	allow $1 paprikacoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read paprikacoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`paprikacoin_read_lib_files',`
	gen_require(`
		type paprikacoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, paprikacoin_var_lib_t, paprikacoin_var_lib_t)
')

########################################
## <summary>
##	Manage paprikacoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`paprikacoin_manage_lib_files',`
	gen_require(`
		type paprikacoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, paprikacoin_var_lib_t, paprikacoin_var_lib_t)
')

########################################
## <summary>
##	Manage paprikacoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`paprikacoin_manage_lib_dirs',`
	gen_require(`
		type paprikacoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, paprikacoin_var_lib_t, paprikacoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a paprikacoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`paprikacoin_admin',`
	gen_require(`
		type paprikacoin_t;
		type paprikacoin_initrc_exec_t;
		type paprikacoin_var_lib_t;
	')

	allow $1 paprikacoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, paprikacoin_t)

	paprikacoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 paprikacoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, paprikacoin_var_lib_t)

')

